body {
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.time-container {
    color: white;
    display: flex;
    letter-spacing: 31px;
}

.time-container span {
    position: relative;
    top: 5px;
    font-size: 4rem;
}

.timer-text {
    margin: 0;
    font-size: 5rem;
}